body {
margin: 0;
padding:0;
background-color: rgb(10, 10, 10);
color: rgb(240, 240, 240);
display: flex;
align-items: center;
flex-direction: column;
width: 100vw;
font-family: sans-serif;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin: 20px;
}

.share-button{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile {
    width: 100%;
    background-color: rgb(37, 37, 37);
    margin: 7px;
    margin-bottom: 10px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;

}

.tile-share-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(240,240,240);
    display: flex;
    justify-content: center;
    align-items: center;

}

.tile-share-button img {
    height: 80%;
    width: 80%;
}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41);
    transform: scale(1.02);
}

h1{
    font-size: 20px;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    color: rgb(240, 240, 240);

}

.image-container {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}
.icon {
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 4px 8px;
}
.back-button{
    border: 2px solid rgb(240, 240, 240);
    border-radius: 16px;
    background-color: rgb(10, 10, 10);
    color: rgb(240, 240, 240);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.back-button {
    transition-duration: 0.4s;
  }

  .back-button:hover {
    background-color: rgb(240, 240, 240);
    color: rgb(10, 10, 10);
  }

  .get-yours{
    margin-top: 20px;
  }

  .pricing-container {
   text-align: right;
  }


